.App {
  text-align: center;
}

.botonera{
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
}

h1{
  background-color: #30332E;
  color: white;
}

#map{
  height: 300px;
  width: 50%;
  display: inline-block;
}

.filtro{
  margin-left: 1%;
}

.leaflet-container{
  height: 300px;
}